{%extends 'layout.html'%}


{%block body%}
<script>
$('#myModal').on('shown.bs.modal', function () {
    $('#myInput').trigger('focus')
  })
</script>
{% if massge%}
<div class="alert alert-primary mx-auto" role="alert">

  <h1>can't find "{{massge}}"</h1>
</div>
</div>
{%else%}
<div class="container-fluid">
  <div class="row row-cols-1 row-cols-md-4 g-3 ">

    {% for i in c%}
 <div class="card text-center">
    <div class="card-header">
      by <a href="/?linke={{i[5]}}">{{i[5]}}</a>
    </div>
    <div class="card-body">
      <h5 class="card-title">{{i[2]}}</h5>
      <p class="card-text">{{i[3]}}</p>
      <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#{{i[0]}}">
       Summary of {{i[2]}}
      </button>
    </div>
    <div class="card-footer text-muted">
     {{i[1]}}
    </div>
  </div>
  <div class="modal fade" id="{{i[0]}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLongTitle">{{i[2]}}</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body{{i[0]}}">
          <summary>{{i[4] |safe}}</summary>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-secondary"> <a href="{{i[6]}}" style="color:white; text-decoration: inherit;">get
              the
              book</a>
          </button>
        </div>
      </div>
    </div>
  </div>
{%endfor%}
{%endif%}

</div>
</div>         



{%endblock%}